
/* import fonts.css file */
@import url(./fonts.css);

/* import css variables file */
@import url(./partials/variables.css);
@import url(./partials/global.css);

/*  Nav styling  */
.header-area .main-area .navbar .navbar-brand{
    padding: 0 2rem 0 4rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    font-style: italic;
    font-family: "Roboto", cursive;
    color:var(--primary-color2);

}

.header-area .main-area .navbar{
    padding: 1rem 10rem;
}

.header-area .main-area .nav-item .nav-link{
    font: normal bold 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1rem;
    color: var(--title-color);
    
}

.header-area .main-area .nav-item .active{
   background: var(--gradient-color);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;

}

.header-area .main-area .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

/*  End Nav styling  */

/*  Start Main styling  */

.site-main .site-banner h3{
    padding-top: 50%;
    font-size: 2rem;
    
}

.site-main .site-banner h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner h1{
    font-size: 4rem;
}

.site-main .site-banner h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}

/* About area*/

.site-main .about-area{
padding: 5rem 2rem;
justify-content: center;
align-items: center;
}

.site-main .about-area .about-image{
    padding-top: 4rem;
}

.site-main .about-area .about-title h2 > span{
    font: normal bold 45px/55px var(--roboto);
    display: block;
    letter-spacing: 20px;
}

/* End About area*/


/*  End Main styling  */

